loglevel=error
fund=false
audit=false
legacy-peer-deps=true
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
cache-min=3600
prefer-offline=true
max-old-space-size=4096
